<link rel="import" href="/assets/shared-styles.html">
<link rel="import" href="/bower_components/simple-callout/simple-callout.html">
<link rel="import" href="/bower_components/paper-toggle-button/paper-toggle-button.html" async>

<dom-module id="index-demo-mode">
  <template>
    <style include="shared-styles">
      :host {
        position: relative;
        display: inline-flex;
        align-items: center;
        background: var(--simpla-grey-100);
        padding: var(--scale-00) var(--scale-1);
        border-radius: var(--simpla-border-radius);
        border: 1px solid var(--simpla-grey-300);
        user-select: none;
      }

      .label {
        font-family: var(--font-ui);
        font-size: var(--scale-00);
        color: var(--simpla-grey-700);
        margin-right: var(--scale-00);
      }

      .toggle {
        --primary-color: var(--simpla-blue);
        --dark-primary-color: var(--simpla-blue);
        --paper-toggle-button-unchecked-button-color: white;
        --paper-toggle-button-unchecked-bar-color: var(--simpla-grey-700);
      }

      .tooltip {
        position: absolute;
        bottom: -3rem;
        left: 0;
        right: 0;
        margin: auto;
        width: 8.5rem;
        padding: 0.5rem;
        color: var(--simpla-grey-700);
        font-size: var(--scale-000);
        pointer-events: none;
        text-align: center;
      }

      .exit {
        @apply(--button);
        font-family: var(--font-ui);
        display: none;
        position: fixed;
        top: 1rem;
        right: 1.5rem;
        font-size: var(--scale-000);
        box-shadow: var(--simpla-elevation-1);
        z-index: 9999;
      }

      .exit::before {
        @apply(--simpla-button-highlight)
      }

      .exit:active::before {
        @apply(--simpla-button-highlight-active)
      }

      .exit[data-active] {
        display: block;
      }
    </style>

    <span class="label">live demo mode</span>

    <paper-toggle-button
      class="toggle"
      active="{{active}}"
      noink>
    </paper-toggle-button>

    <simple-callout
      class="tooltip"
      origin="top center"
      active="[[active]]"
      no-outside-click
      no-escape
      arrow
    >
      <span>edit this page!</span>
    </simple-callout>

    <span class="exit"
      on-tap="exit"
      data-active$="[[active]]">
      exit demo
    </span>
  </template>
</dom-module>

<script>
  class IndexDemoMode {
    beforeRegister() {
      this.is = 'index-demo-mode';

      this.properties = {
        active: {
          type: Boolean,
          observer: '_syncEditableWithActive',
          value: false
        }
      };

      this.listeners = {
        'track': '_handleTrack'
      };
    }

    toggle() {
      this.active = !this.active;
    }

    exit() {
      this.active = false;
    }

    _syncEditableWithActive(active) {
      Simpla.editable(active);
    }

    _handleTrack(e, { x: end, dx, state }) {
      const inRightHalf = (x) => x > centre;
            inLeftHalf = (x) => x < centre;

      let start = end - dx,
          buttonWidth,
          buttonBounds,
          centre;

      if (state !== 'end') {
        return;
      }

      buttonBounds = this.getBoundingClientRect();
      buttonWidth = buttonBounds.right - buttonBounds.left;
      centre = buttonBounds.left + buttonWidth / 2;

      if (inLeftHalf(start) && inRightHalf(end)) {
        this.active = true;
      }

      if (inRightHalf(start) && inLeftHalf(end)) {
        this.active = false;
      }
    }
  }
  Polymer(IndexDemoMode);
</script>