<link rel="import" href="/assets/shared-styles.html">

<dom-module id="ui-footer">
  <template>
    <style include="shared-styles">
      :host {
        display: inline-block;
        width: 100%;
        padding: var(--scale-6) 0 var(--scale-1);
        text-align: center;
        background: var(--blue);
        color: white;
      }

      .wrapper {
        @apply --wrapper;
      }

      .heading {
        font-size: var(--scale-2);
        font-weight: 700;
      }

      .copy {
        margin-top: 0.5rem;
      }

      .cta {
        @apply --button;
        background: white;
        color: var(--blue);
        font-size: var(--scale-0);
        margin-top: 1rem;
        box-shadow: var(--simpla-elevation-1);
      }

      .fineprint {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: var(--scale-8);
        font-size: var(--scale-00);
      }
    </style>

    <footer class="wrapper">
      <div hidden$="[[slim]]">
        <h1 class="heading">
          <simpla-text path="/[[view]]/footer/heading"></simpla-text>
        </h1>

        <p class="copy">
          <simpla-text path="/[[view]]/footer/copy"></simpla-text>
        </p>

        <simpla-link path="/[[view]]/footer/cta" class="cta">
          <simpla-text path="/[[view]]/footer/cta/text" inline plaintext></simpla-text>
        </simpla-link>
      </div>

      <div class="fineprint">
        <span>&copy; [[_currentYear()]]</span>
        <a href="https://docs.simplajs.org/contributing/simpla.html" target="_blank" class="fineprint__contribute">contribute</a>
      </div>
    </footer>
  </template>
</dom-module>

<script>
  class UiFooter {
    beforeRegister() {
      this.is = 'ui-footer';

      this.properties = {
        slim: Boolean,
        view: String
      };
    }

    _currentYear() {
      return new Date().getFullYear();
    }
  }
  Polymer(UiFooter);
</script>
