---
title: Simpla | Docs
description: Learn how to build with Simpla, the modular CMS for frontend developers
---

{% extends '_base.html' %}

{% block imports %}
<link rel="import" href="/bower_components/simpla-paths/simpla-paths.html">
<link rel="import" href="/bower_components/simpla-collection/simpla-collection.html">
<link rel="import" href="/bower_components/simpla-text/simpla-text.html">
<link rel="import" href="/bower_components/simpla-link/simpla-link.html">
<link rel="import" href="/components/ui-header.html">
<link rel="import" href="/components/ui-footer.html" async>
{% endblock %}

{% block styles %}
<style is="custom-style">
  @custom-media --tablet (max-width: 64em);
  @custom-media --mobile (max-width: 40em);

  html {
    --resources-gutter: 3rem;
  }

  /* Fill the viewport */
  .body {
    @apply --wrapper;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: calc(var(--page-vertical-gutter) - 1rem);
    padding-bottom: var(--page-vertical-gutter);
  }

  .intro {
    text-align: center;
    max-width: 42rem;
    margin: 0 auto;
    color: var(--simpla-grey-700);
    font-size: var(--scale-1);
  }

  .resources {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
  }

  .resources__resource {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: calc(33% - var(--resources-gutter));
    max-width: 20rem;
    margin: calc(var(--resources-gutter) / 2);
    padding: 1.75rem;
  }

  @media (--tablet) {
    .resources__resource {
      width: calc(50% - var(--resources-gutter));
    }
  }

  @media (--mobile) {
    .resources__resource {
      width: 100%;
    }
  }

  .resource__name {
    display: block;
  }

  .resource__description {
    font-size: var(--scale-00);
    color: var(--simpla-grey-700);
  }

  .resource__link {
    color: var(--simpla-blue);
    cursor: pointer;
    font-size: var(--scale-00);
    font-weight: 500;
  }

  .resource__link {
    display: inline-flex;
    align-items: center;
  }

  .resource__link::after {
    content: '\203a';
    margin-left: 0.3em;
    margin-top: 0.05em;
    font-size: 1.35em;
    vertical-align: middle;
  }
</style>
{% endblock %}

{% block view %}
<ui-header view="docs"></ui-header>

<main class="body" sid="overview">
  <p class="intro">
    <simpla-text sid="intro"></simpla-text>
  </p>

  <simpla-collection class="resources" sid="resources" as="resource">
    <template preserve-content>
      <div class="resources__resource" sid="[resource]">
        <span class="resource__name">
          <simpla-text sid="name" placeholder="Resource name"></simpla-text>
        </span>
        <p class="resource__description">
          <simpla-text sid="description" placeholder="Write a description of the resource"></simpla-text>
        </p>
        <simpla-link sid="link" class="resource__link">
          <simpla-text sid="text" inline plaintext></simpla-text>
        </simpla-link>
      </div>
    </template>
  </simpla-collection>
</main>
<ui-footer
  class="footer"
  view="docs">
</ui-footer>
{% endblock %}